@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

//colors

//Primary
$Cyan: hsl(179, 62%, 43%);
$Cyan2: hsl(179, 62%, 48%);
$Bright-Yellow: hsl(71, 73%, 54%);

//Neutral
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);

//font
$font-family: "Karla", sans-serif;

$font-weight: (
  "small": 400,
  "bold": 700,
);
